@import "tailwindcss";
@import 'hamburgers/dist/hamburgers.css';
@custom-variant dark (&:where(.dark, .dark *));



@layer components {
  .hamburger {
    @apply hidden md:block lg:!hidden;
  }



}
/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
